Package: com.alphaMatter.bioshock
Name: bioshock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: alphaMatter
Author: alphaMatter
Section: Tweaks
